/confirmInsertServlet.class
/confirmUpdateServlet.class
/deleteServlet.class
/detailsServlet.class
/insertServlet.class
/listServlet.class
/updateServlet.class
/loginServlet.class
/logoutServlet.class
/DBSample/
/DataBase/
